# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
github-actions-key.json

# Source imports
source/*

# Playwright
/node_modules/
test-results/
work/tests/
work/tmp/
work/waiting-processing/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Dropbox
.dropbox
desktop.ini
